
.Favourites .button-favourites{
    color: var(--light);
    font-size:1.5em;
    font-weight:100;
    outline:none;
    transition: .3s ease-in;
    
}

.Favourites .button-favourites:hover{
    color: black;
    outline:none;
    transition: .3s ease-in;   
}

.Favourites .btn{
    transition: .3s ease-in;
    border-radius : 50%;
}

.Favourites .btn:hover{
    background:var(--light);
    transition: .3s ease-in
}

.Favourites .btn .counter{
    font-family:var(--font-light);
    font-size:.9em;
    background:var(--color-warm);
    color: var(--light);
    height:24px;
    width:24px;
    border-radius: 100%;
    position:absolute;
    top:-5px;
    right:-10px;
}