.models h1{
    background: var(--secondary-color);
}
.model{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modelSection{
    display: flex;
    justify-content: center;
    position:relative;
    transition: 0.3s ease-in;
    transform:scale(1);
}
.modelSection a{
    color: unset;
}
.modelSection:hover{
    transition: 0.3s ease-in;
    cursor: default;
    transform: scale(1.2);
}

.modelSection figure{
    margin: 0;
    padding: 0;
    width: 290px;
    height: 450px;
}

.modelSection:nth-child(even){
    margin-top: 9%;
}

.modelSection:nth-child(odd){
    margin-top: 2%;
}

.modelSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.modelSection .image-mask{
    height:inherit;
    width:inherit;
    background:rgba(0, 0, 0, 0.466);
    position:absolute;
    display:none;
    cursor: default;
}
.modelSection:hover .image-mask{
    display:block;
}
.modelName h3{
    writing-mode: vertical-lr;
    margin: 0;
    font-family: var(--font-light);
    background: var(--secondary-color);
    text-align:center;
    transform: rotate(180deg);
    font-weight:100;
    padding:4px;
}

.modelSection:hover .modelName{
    z-index:2;
}

.modelSection .favourite-icon{
    right: 24px;
    transform:scale(0);
    color: var(--light);
    opacity:.8;
    z-index:20;
    transition:.2s ease-in;
    cursor:pointer;
}
.modelSection:hover .favourite-icon{
    transform:scale(1);
}
.modelSection .favourite-icon:hover{
    color:var(--secondary-color);
    transition: .2s ease-in;
}
.modelSection .is-favourite{
    color:var(--secondary-color);
    opacity:1;
    transform : scale(1);
}
.modelSection:hover .modelName h3{
    writing-mode: unset;
    background:transparent;
    color:var(--light);
    font-size:1em;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px){
    .modelSection{
        flex-direction: column;
        align-items: center;
    }
    .modelSection:nth-child(even), .modelSection:nth-child(odd){
        margin:0 0 32px !important;
    }
    .modelSection figure{
        width: 100vw;
        height: 400px;
    }
    .modelSection img{
        object-position: top;
        width:100%;
    }
    .modelSection .modelName{
        z-index:2;
    }
    .modelSection:hover{
        transform:scale(1);
        cursor:pointer;
    }
    .modelSection:hover .image-mask{
        display: none;
    }
    .modelSection .image-mask{
        display:block;
        background:rgba(0, 0, 0, 0.103);
    }
    .modelSection .favourite-icon{
        transform:scale(1);
        right:0;
        bottom:0;
    }
    .modelSection h3, .modelName:hover h3{
        writing-mode: initial;
        margin: 16px 0;
        transform: rotate(0deg);
        font-size: 1.3em;
        background:transparent;
        position: unset;
    }
}

@media screen and (max-width: 768px){
    .model{
        flex-direction:column;
    }
    .modelSection:nth-child(even), .modelSection:nth-child(odd){
        margin:32px 0;
    }
}