
.faqs{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding-top:92.64px;
    margin-top:-92.64px;
    z-index:0;
}
.faqs h2{
    background:transparent;
    font-family:var(--font-light);
    font-weight:100;
    font-size:1.6em !important;
    color: var(--primary-color);
}
.faqs .faq {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.faqs .faq .faq-question{
    font-size: 1rem;
    font-weight: 100;
    transition: all 0.5s ease;
    font-family:var(--font-light);
    text-transform: uppercase;
    color: var(--light-medium);
    padding-right:20px;
    border-bottom:1px solid lightgray;
    min-height:100px;
}

.faqs .faq .faq-question:hover p{
    color:var(--color-cold);
    transition:.2s ease-in;
}

.faqs .faq .faq-question::after{
    content: '';
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.faqs .faq.open .faq-question{
    margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
    transform: translateY(-30%);
}

.faqs .faq .faq-answer{
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s ease;
    font-family: var(--font-light);
    font-style: italic;
    color:var(--medium-light);
    text-align:justify;
    padding-right:20px;
}

.faqs .faq.open .faq-answer {
    max-height: 100%;
    opacity: 1;
}

@media screen and (max-width : 768px){
    .faqs{
        width:100%;
        flex-direction:column;
        padding-top:0;
        margin-top:0;
    }
    .faqs .faq {
        padding: 15px 0;
    }
    .faqs h2{
        text-align:left;
    }
    .faqs .faq .faq-question{
        font-size: 1em;
        padding:0;
        min-height:unset;
    }
}