
.faqs{
    display: flex;
    flex-direction: column;
    width:50%;
    /* max-width: 768px; */
}

.faqs .faq {
    padding: 15px;
    background-color: rgb(250, 250, 252);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.faqs .faq .faq-question{
    font-size: 24px;
    font-weight: 600;
    padding-right:  80px;
    transition: all 0.5s ease;
    font-family:var(--font-heavy);
}

.faqs .faq .faq-question::after{
    content: '';
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.faqs .faq.open .faq-question{
    margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
    transform: translateY(-30%);
}

.faqs .faq .faq-answer{
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s ease;
    font-family: var(--font-light);
}

.faqs .faq.open .faq-answer {
    max-height: 100%;
    opacity: 1;
    /* font-family: var(--font-light); */
}

@media screen and (max-width : 768px){
    .faqs{
        width:100%;
    }
    .faqs .faq {
        border-radius: 8px;
    }
    .faqs h2{
        text-align:center;
    }
    .faqs .faq .faq-question{
        font-size: 1.5em;
        font-weight: 600;
        padding:0;
    }
}