.about-title{
    text-align: left;
    background-color:var(--secondary-color);
}
.about-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: unset;
    color: black ;
    margin: 30px;
}
.about-text h1 {
    text-align: center;
}
.location{
    color: black;
    font-weight: bold;
}

.about-adress1{
    width: 50vh;
    border-right: gray 3px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.about-adress2{
    width: 50vh;
    border-left: gray 3px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.about .description{
    width: 80%;
    margin-left: 30px;
}

.description p{
    text-align: justify;
}

.desc-title{
    font-size: 1.3em;
}
.about .elite{
    font-size: 1.5em;
}

@media screen and (max-width: 768px){
    .about-title{
        text-align: center;
    }

    .description{
    margin-top: 30px;
    margin-left: 0;
    }
}
