.about img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.about h2{
    font-family:var(--font-light);
    font-weight:100;
    font-size:1.7em !important;
    color: var(--primary-color);
}

@media screen and (max-width: 768px){
    .about h1{
        text-align:center;
    }
    .about .map{
        width:100%;
        height:300px;
    }
} 
