.about img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.about h2{
    font-family:var(--font-light);
    font-weight:100;
    font-size:1.6em !important;
    color: var(--primary-color);
}
.about-title{
    text-align: left;
    background-color:var(--secondary-color);
}
.about-text {
    display: flex;
    background-color: unset;
    color: black ;
    margin: 30px;
}

.about-text p{
    color: black;
    font-weight: bold;
    font-family: var(--font-light);
}

.about-adress{
    width: 50vh;
    border-right: gray 3px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}
.about .description{
    width: 80%;
    margin-left: 30px;
}
.desc-title{
    font-size: 1.3em;
}
.about .elite{
    font-size: 1.5em;
}

@media screen and (max-width: 768px){
    .about h1{
        text-align:center;
    }
    .about .map{
        width:100%;
        height:300px;
    }
    .about-text{
        flex-direction: column;
        align-items: center;
    }
    .about-adress{
        border-bottom:gray 2px solid;
        width: auto;
        border-right: none;
    }
    .description{
    margin-top: 30px;
    margin-left: 0;
    }
    .about-adress{
        align-items: center;
    }
}
