.Profile h2{
    background: transparent;
    font-size:1.5em !important;
}

.Profile figure{
    width:100%;
}

.Profile img{
    object-fit:cover;
    object-position:top;
}

.Profile ul h2{
    font-family:var(--font-light);
    color:var(--light-medium);
    font-size:1em !important;
    margin-bottom:4px;
    font-weight:100;
    text-transform:uppercase;
}
.Profile ul p{
    font-size: 1em !important;
    font-family:var(--font-light);
    font-weight:100;
    font-style:italic;
}
.Profile a{
    font-family:var(--font-light);
}
.Profile .form-button-container{
    width:100%;
}
.Profile .form-button-container p{
    margin:0;
    font-style: normal;
}
@media screen and (min-width:768px){
    .Profile figure{
        width:80%;
    }
    .Profile .form-button-container{
        width:unset;
    }
}