@media screen and (max-width: 450px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .main-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 644px;
        
    }

    .Contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

    }

    .Alderaan{
        display: flex;
        margin-left: 3em;
        align-items: center;

    }

    .h2alde{
        padding-right: 0.8em;
    }

    .pAld{
        padding-right: 0.38em;
        width: 192px;
    }


    .pCor{
        width: 192px;
    }

    .About{
        align-self: center;
        width: 192px;
        margin-top: 3em;
        
    }
    .h2about{
        padding-right: 1.2em;
    }
    .pAb{
        padding-right: 3.5em;
        width: 192px;
           }

    .icones{
        display: flex;
        flex-direction: row;
        gap: 20%;
        align-self: unset;
        width: 192px;
        margin-left: 5em;
        margin-top: 2em;
        
    }
    .footer-bottom{
        display: flex;
        align-self: unset;
        margin-left: 7em;
        margin-bottom: 2em;
    }
    .mixBot{
        display: flex;
        flex-direction: column;
        
    }
}