
.Nav ul{
    padding:0;
}

.Nav a{
    color: var(--light);
    font-family: var(--font-light);
    font-size:1.1em;
    font-weight:50px;
    padding:2px;
}
.Nav a:hover{
    background-color:var(--light);
    color:var(--primary-color);
    text-decoration: none;
}

