/* .intro-text, .intro-mask{
    position: absolute;
    top: 0;
}
.intro-mask{
    background-color: black;
    
}
.intro-text h1 {
    color: var(--light);
    font-family: var(--font-serif);
    font-size: 3.5rem;
    background-color: var(--primary-color);
    opacity: 0.9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.intro-text h3 {
    font-family: var(--font-light);
    border-radius: 10px;
    opacity: 0.9;
    padding: 10px;
    margin-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
} */
.Intro {
    background-image: url('../../../../Assets/agence_futur.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Intro .text-light {
    color: var(--primary-color);
    font-family: var(--font-heavy);
    z-index: 5;
}
.Intro h3
{
    color: var(--light);
    z-index: 5;
    text-align: center;
}
.into-mask {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    z-index: 3;
}



@media screen and (max-width:768px){
    .Intro{
        height: 70vh;;
    }
    .into-mask {
        width: 100%;
        height: 70vh;
}
    .text-light{
        font-size: 30px;
        text-align: center;
    }
    h3{
        font-size: 20px;
        text-align: center;
    }
}