footer{
    margin-bottom : 98px;
    background-image: url('../../assets/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}
footer h2, footer p, footer a{
    color:var(--light);
    font-family: var(--font-serif);
    background:none;
}
footer h2{
    font-size:1.8em !important;
}
footer a:hover{
    background-color:var(--light);
    color:var(--primary-color);
    text-decoration: none;
    transition:.3s ease-in;
}
footer .social-medias a:hover, footer .Alderaan a:hover, footer .Coruscant a:hover{
    color:var(--secondary-color);
    text-decoration: none;
    background:transparent;
    transition:.3s ease-in;
}
footer .About a{
    font-size:1.2em ;
}
footer .social-medias{
    color: var(--light);
    font-size:1.5em;
    transition:.3s ease-in;
}

@media screen and (min-width : 768px){
    footer{
        margin-bottom:0;
    }
    .Alderaan, .Coruscant, .About{
        width:200px;
    }
    footer h2{
        font-size:1.8em !important;
    }
}
@media screen and (min-width : 1200px){
    footer{
        background-size:cover;
    }
}
