/*CSS - Seleciont Card.jsx : */

.cardSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardSelection img{
    height: 400px;
    width: 300px;
    transition: 0.2s ease-in;
    object-fit:cover;
    object-position:top;
}

.cardSelection img:hover{
    cursor: pointer;
    height: 430px;
    width: 330px;
    transition: 0.2s ease-in;
}
.cardSelection p{
    width: 300px;
    text-align: center;
    margin: 16px 0px;
}

.cardSelection h3{
    padding: 8px;
    margin: 16px 0px;
}

.cardSelection p:hover{
    cursor: default;
}
.cardSelection h3:hover{
    cursor: default;
}
#quote{
    font-style: italic;
    min-height:75px;
}

.weekSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekSelection h2{
    margin-top: 40px;
}

.selected{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
}
.cardSelection{
    padding: 24px; 
}