.cardSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 24px;
    border: 2px solid black;
}

.cardSelection img{
    height: 400px;
    width: 300px;
}

.cardSelection p{
    width: 300px;
    text-align: justify;
}





.weekSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected{
    display: flex;
    justify-content: center;
}