@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
}

:root {
  --font-heavy: 'Montserrat Alternates', sans-serif;
  --font-medium: 'Heebo', sans-serif;
  --font-light: 'Comfortaa', cursive;
  --primary-color: rgba(17, 17, 84, 1);
  --secondary-color: rgba(234, 201, 42, 1);
  --color-cold: rgba(80, 193, 230, 1);
  --color-warm: rgba(212, 33, 82, 1);
  --light: rgba(226, 226, 240, 1);
  --light-medium: rgba(119, 119, 148, 1);
}
